.top {
      background: url(https://c0.wallpaperflare.com/preview/839/412/980/food-and-drink-pizza-pizzas-tomato.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    nav {
      overflow: hidden;
      background-color: white;
    }

    .head {
      width: 100%;
      height: 60px;
      background-color: white;
    }

    .head img {
      float: left;
      width: 85px;
      height: 60px;
    }

    .logo {
      color: black;
      font-size: 27px;
      font-family: Bookman, URW Bookman L, serif;
      text-align: left;
      margin-top: 0px;
      float: left;
      margin: 0px;
      line-height: 60px;
      padding-left: 9px;
    }

    nav a {
      float: left;
      color: black;
      text-align: center;
      text-decoration: none;
      padding: 13px 16px 13px 16px;
      font-size: 17px;
      line-height: 60px;
    }

    nav a:hover {
      color: blue;
    }

    a {
      text-decoration: none;
    }

    .content {
      margin-right: 130px;
      margin-top: 100px;
      float: right;

    }

    h2 {
      font-family: Brush Script MT, Brush Script Std, cursive;
      font-size: 50px;
      color: white;
    }

    h3 {
      font-family: DejaVu Sans Mono, monospace;
      font-size: 23px;
      color: white;
    }

    .copyrights {
      background: url(https://i.pinimg.com/originals/e9/13/19/e91319552effdd60830d66c64963084d.jpg);
      background-repeat: no-repeat;
    }

    .copycontents {
      font-family: system-ui;
      font-weight: bold;
      font-size: 20px;
      color: white;
      margin-left: 790px;
      padding-top: 100px;
    }

    .copycontents1 {
      font-family: system-ui;
      font-size: 16px;
      color: white;
      margin-left: 790px;
      padding-top: 20px;
    }

    .center {
      margin-left: 320px;
      padding-top: 30px;
      text-align: center;
      width: 60%;
    }

    .copycontents3 {
      margin-left: 800px;
      margin-top: 35px;
      color: white;
      font-family: system-ui;
    }

    .copycontents4 {
      margin-left: 431px;
      padding-top: 20px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-family: system-ui;
      text-decoration: none;
    }

    .foot {
      font-size: 30px;
      color: white;
      padding: 10px;
    }

    .reserved {
      margin-top: 100px;
      color: white;
      font-family: system-ui;
      font-size: 15px;
      margin-left: 730px;
    }

    h1 {
      font-weight: bold;
      font-family: system-ui;
      text-align: center;
    }

    * {
      box-sizing: border-box
    }

    .mySlides {
      display: none
    }

    img {
      vertical-align: middle;
    }

    .slideshow-container {
      max-width: 800px;
      position: relative;
      margin: auto;
    }

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
      background-color: black;
    }

    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
      background-color: #717171;
    }

    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }

    @keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }

    @media only screen and (max-width: 300px) {

      .prev,
      .next,
      .text {
        font-size: 11px
      }
    }

    div.gallery1 {
      margin: 10px 35px;
      border: 1px dotted #ccc;
      float: left;
      width: 595px;
      height: 500px;
      background: url(http://i.stack.imgur.com/oslRB.png);
    }

    .gallery2 {
      height: 400px;
    }

    div.desc1 {
      padding: 20px;
      text-align: center;
    }

    b {
      font-family: system-ui;
      font-size: 22px;
    }

    .btn1 {
      background-color: #E33A19;
      color: white;
      padding: 16px 20px;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      border: 2px solid white;
      cursor: pointer;
      width: 55%;
      border-radius: 7px;
      margin-left: 140px;
      margin-top: 10px;
    }

    .btn1:hover {
      background-color: white;
      color: #E33A19;
      border: 2px solid red;
    }