body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
  background: url(https://cdn.pixabay.com/photo/2017/12/10/14/47/pizza-3010062__340.jpg);
  background-repeat: no-repeat;
  background-size: 1360px 670px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin-left: 450px;
}

.row1 {
    display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

h3 {
    text-align: center;
    font-size: 30px;
}

.fname {
    text-align: center;
    font-size: 20px;
}

.icon-container {
  margin-left: 105px;
  padding: 7px 0;
  font-size: 30px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}